<div class="page-container user-view">
  <h2>
    Become a fan of zfrank<br>
    Join the mailing list!
  </h2>

  <div class="row col-lg-8 mx-auto">
    <div>
      <%= simple_form_for @user do |f| %>
        <%= f.input :first_name, required: true %>
        <%= f.input :last_name, required: true %>
        <%= f.input :email, required: true %>
        <%= f.input :zip, label: 'Zip Code', minlength: 5, maxlength: 5, required: true %>
        <%= f.hidden_field :source, label: 'Source', value: params[:source], required: true %>
        <%= f.button :submit, 'Submit', class: "btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
